/* login styles */
fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

#social-login-wrap {
	display: none;
}
#login-header{
	position:relative;
	height:32px;
	box-shadow: 0 100px rgba(0,0,0,.75) inset;
	border-bottom:2px groove #444;
	overflow:hidden;
	left:0;
	top:0;
	z-index:99999;
}
#loginWrap{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	font-size: 14px;
	margin:0 auto;
	width:280px;
	padding-bottom:40px;
	text-align:center;
}
.textLeft{
	text-align:left;
	text-indent:15px;
}
#login-btn, #resetPW{
	position:relative;
	font-size:16px;
	width:180px;
	margin:0 auto;
	margin-top:10px;
	left:0;
	right:0;
	border:2px groove #642;
}
#login-btn:hover, #resetPW:hover{
	box-shadow:0 0 2px rgba(80, 110, 240, 1),
	0 0 5px rgba(80, 110, 240, 1);
}
.loginInputs{
	display:block;
	left:0;
	right:0;
	margin:0 auto;
	border:1px solid #666;
	font-size:16px;
	line-height:22px;
	width:250px;
	background:#132239;
	background-image: -webkit-radial-gradient(80px 0px, farthest-corner, #132239 0%, #001 100%);
	background-image: -moz-radial-gradient(80px 0px, farthest-corner, #132239 0%, #001 100%);
	background-image: -ms-radial-gradient(80px 0px, farthest-corner, #132239 0%, #001 100%);
	background-image: -o-radial-gradient(80px 0px, farthest-corner, #132239 0%, #001 100%);
	color:#fff;
	border-radius:4px;
	text-indent:2px;
}
.loginInputs:focus{
	background:#4478c7;
	background-image: -webkit-radial-gradient(80px 0px, farthest-corner, #5488da 0%, #132239 100%);
	background-image: -moz-radial-gradient(80px 0px, farthest-corner, #5488da 0%, #132239 100%);
	background-image: -ms-radial-gradient(80px 0px, farthest-corner, #5488da 0%, #132239 100%);
	background-image: -o-radial-gradient(80px 0px, farthest-corner, #5488da 0%, #132239 100%);
}
#forgotPasswordWrap{
	margin-top:15px;
}
#forgotPassword{
	color: #aef;
	cursor: pointer;
}


body{
	position: relative;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 1920px
}
.abcRioButton{
	margin: 5px auto;
}
.abcRioButtonBlue .abcRioButtonIcon {
	border-radius: 5px !important;
}
.abcRioButtonBlue {
	border-radius: 5px !important;
}
#divider{
	margin: 8px 0
}
.error-msg {
	color: #ff1611;
	margin: 10px 0;
}
#currencyIndicator{
	width: 100%
}
#mainBG{
	width: 100%;
	height: 1080px;
	background: url('/img2/ng2-bg.jpg')
}
label{
	font-weight: normal;
	display: block;
	margin: .1em 0
}
#login-btn{
	border: 1px solid #000;
	width: 240px;
	border-radius: 5px;
}
#twitter-wrap {
	margin:0 0 5px 0;
	width:240px;
	border-radius: 6px;
	background: #337ab7;
	color: #fff;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer!important;
}
#twitter-wrap:hover {
	text-decoration: none;
}
#twitter-icon-wrap {
	color: #337ab7;
	cursor: pointer;
	background: #ddd;
	padding: 6px 9px;
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 4px;
	float: left;
}
#twitter-icon {
	font-size:20px;
	text-shadow: none;
	height:20px;
	display:inline-block;
	cursor: pointer!important;
}
#twitter-text {
	color: #fff;
	line-height: 2.5;
	border-radius:0;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer!important;
}
#createAccount{
	color: #aef;
	font: 14px;
}
#createAccount:hover{
	color: #fff
}
.textLeft, .signupHeader{
	margin-top: .375em
}
.loginInputs{
	background: #132239;
	border: 1px solid #357
}
.hide{
	display: none
}
#rememberMe{
	position: relative;
	top: 2px
}
.strongShadow {
	text-shadow: 1px 1px #222, -0.4px 0.6px #222, 0.6px -0.6px #222, -0.4px 0 #222, 0.6px 0 #222, 0 0.6px #222, 0 -0.6px #222, 0.6px 0.6px #222;
}
#login-modal {
	visibility: hidden;
}
#login-modal, #login-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	z-index: 99999999;
}
#login-backdrop{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	z-index: 99999999;
}
#loginWrap{
	position: absolute;
	z-index: 99999999;
	color: #fff;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 280px;
	text-align: center;
	top: 30px;
	bottom: auto;
	padding: 10px 0;
	border-radius: 6px;
	border: 2px ridge #337ab7;
	background: #0a0a1a;
	box-shadow: 0 0 20px #000,
	0 0 40px #000,
	0 0 60px #000
}
#loginWrap p {
	line-height: 1.5;
	margin: 0 0 10px;
}
#loginWrap .btn-primary {
	color: #fff;
	background: #337ab7;
	padding: 6px 12px;
	cursor: pointer;
}
/* main styles */

@font-face {
	font-family: Cinzel;
	src: url(../fonts/Cinzel-Regular.otf)
}
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf)
}
@font-face {
	font-family: Roboto Condensed;
	src: url(../fonts/RobotoCondensed-Regular.ttf)
}
@font-face {
	font-family: Roboto Slab;
	src: url(../fonts/RobotoSlab-Regular.ttf)
}
* {
	_noFocusLine: expression(this.hideFocus=true);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px transparent
}
::-moz-focus-inner {
	border: 0
}
:focus {
	outline: 0
}
html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	padding: 0;
	margin: 0;
	height: 100%;
	background: #000;
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
	html {
		font-size: 10px
	}
}
@media only screen and (min-width: 480px) {
	html {
		font-size: 11px
	}
}
@media only screen and (min-width: 600px) {
	html {
		font-size: 12px
	}
}
@media only screen and (min-width: 680px) {
	html {
		font-size: 13px
	}
}
@media only screen and (min-width: 768px) {
	html {
		font-size: 14px
	}
}
@media only screen and (min-width: 900px) {
	html {
		font-size: 16px
	}
}
@media only screen and (min-width: 1024px) {
	html {
		font-size: 18px
	}
}
@media only screen and (min-width: 1280px) {
	html {
		font-size: 20px
	}
}
body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
	font-family: Roboto, Arial, sans-serif;
	background: #000;
	color: #fff;
	width: 100%;
	min-width: 360px;
	max-width: 1920px;
	height: 100%;
	min-height: 900px;
	max-height: 1080px;
	overflow: hidden;
	overflow-y: auto
}
main {
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: center
}
input {
	cursor: text;
	background: #059
}
.ng-blue-input {
	background: #025;
	border: 1px solid #2e6da4;
	color: #fff!important
}
.form-control:focus {
	background: #025
}
a {
	color: #aef;
	cursor: pointer
}
h1,
h2 {
	color: #fff;
	margin: 0;
	padding: 0
}
h1 {
	font-family: Cinzel, Palatino Linotype, serif;
	text-align: center;
	margin-bottom: 12px
}
h1 div {
	font-size: 1rem
}
h1 div.small {
	font-size: .8rem
}
audio {
	display: none
}
tbody {
	border: 0
}
.header {
	font-family: Cinzel, Palatino Linotype, serif;
	letter-spacing: .2em;
	color: #aef;
	background: -webkit-radial-gradient(center center, farthest-side, rgba(32, 64, 124, .5) 0, rgba(0, 0, 0, .1) 100%);
	background: -moz-radial-gradient(center center, farthest-side, rgba(32, 64, 124, .5) 0, rgba(0, 0, 0, .1) 100%);
	background: -ms-radial-gradient(center center, farthest-side, rgba(32, 64, 124, .5) 0, rgba(0, 0, 0, .1) 100%);
	background: -o-radial-gradient(center center, farthest-side, rgba(32, 64, 124, .5) 0, rgba(0, 0, 0, .1) 100%)
}
#portrait {
	position: relative;
	display: none;
	color: #fff;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 2rem
}
.btn {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none
}
.btn:active,
.btn:focus {
	outline: 0;
	box-shadow: none!important
}
.btn-primary {
	font-family: Roboto, Roboto Slab, serif!important;
	background-color: #05b;
	border-color: #039!important
}
.btn-primary:hover {
	background-color: #16c;
	border-color: #039!important
}
.btn-primary:active,
.btn-primary:focus {
	background-color: #04a!important
}
.btn-secondary {
	background-color: #333;
	border-color: #777!important
}
.btn-secondary:hover {
	background-color: #444;
	border-color: #777!important
}
.btn-secondary:active,
.btn-secondary:focus {
	background-color: #222!important
}
.btn-success {
	background-color: #080;
	border-color: #000!important
}
.btn-success:hover {
	background-color: #1a1;
	border-color: #000!important
}
.btn-success:active,
.btn-success:focus {
	background-color: #000!important
}
.btn-danger {
	background-color: #711;
	border-color: #a33!important
}
.btn-danger:hover {
	background-color: #822;
	border-color: #a33!important
}
.btn-danger:active,
.btn-danger:focus {
	background-color: #600!important
}
.btn-warning {
	background-color: #080;
	border-color: #000!important
}
.btn-warning:hover {
	background-color: #1a1;
	border-color: #000!important
}
.btn-warning:active,
.btn-warning:focus {
	background-color: #000!important
}
.btn-info {
	background-color: #27a;
	border-color: #058!important
}
.btn-info:hover {
	background-color: #38b;
	border-color: #058!important
}
.btn-info:active,
.btn-info:focus {
	background-color: #169!important
}
.overflow {
	overflow-y: auto
}
.abs {
	position: absolute
}
.rel {
	position: relative
}
.neverworks {
	display: block;
	margin: 3px auto
}
.text-shadow {
	text-shadow:
			1px 1px #000,
			-1px 0 #000,
			1px 0 #000,
			-1px 1px #000,
			1px -1px #000,
			-1px -1px #000
}
.text-shadow2{
	text-shadow:
			.6px .6px #000,
			-.4px .6px #000,
			-.4px 0 #000,
			.6px 0 #000,
			0 .6px #000,
			0 -.6px #000,
			0px 0px 5px #000,
			0px 0px 2px #000;
}
@keyframes flash-outline {
	0% { outline-color: #0f0; }
	100% { outline-color: #000; }
}
.flash-outline {
	animation: flash-outline .5s linear infinite alternate;
}

.no-select {
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none
}
#go-create-character,
.select-class,
.select-race {
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none
}
.none {
	display: none
}
.block {
	display: block
}
.center {
	position: relative;
	display: block;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.w33 {
	width: 33%
}
.w66 {
	width: 66%
}
.w100 {
	width: 100%
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.no-padding {
	padding: 0!important
}
.no-margin {
	margin: 0!important
}
.tight {
	padding: .125rem!important
}
.snug {
	padding: 0!important;
	margin: 0!important
}
.pointer {
	cursor: pointer
}
.no-pointer {
	pointer-events: none
}
.text {
	cursor: text!important
}
#ng2-logo-wrap {
	background: #000;
	overflow: hidden
}
.img-bg {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#ng2-logo {
	position: relative;
	width: 90%;
	display: block;
	margin: 4px auto
}
.title-bg-color {
	background: #00214d
}
.title-bg-trans {
	margin: 0;
	padding: 0;
	box-shadow: 0 1rem #00214d inset, -.2rem 0 #00214d inset, .2rem 0 #00214d inset, 0 -1rem #00214d inset
}
#neverworks-logo {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 140px
}
#version {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 .4rem;
}
.title-menu-row {
	color: #fff;
	border-radius: 0 0 5px 5px;
	border-top: none
}
#scene-title-select-character {
	font-size: .8rem
}
#scene-title-create-character,
#scene-title-select-character {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-width: 360px;
	max-height: 1080px;
	overflow: hidden
}
#title-header {
	display: flex;
	flex-direction: row;
	font-size: 1.2rem;
	padding: .2rem .4rem;
	border-bottom: .1rem ridge #000;
	background: rgba(0, 0, 0, .8)
}
.title-column {
	display: flex;
	flex: 1;
	align-self: center
}
#title-options {
	justify-content: left
}
#social-icons {
	justify-content: right;
	flex: 0
}
#title-header a:hover {
	text-decoration: none
}
#title-header .fa {
	margin: 0 .3rem;
	align-self: center
}
#logout {
	color: #fff
}
.flex-row {
	display: flex;
	flex-direction: row
}
.flex-column {
	display: flex;
	flex-direction: column
}
#create-attr {
	flex-grow: 1;
	padding-top: 1rem
}
.grow-0 {
	flex-grow: 0
}
.cr-ch-row div {
	margin: 0;
	padding: 0;
	text-align: center
}
.text-shadow-steel {
	color: #048;
	text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 2px 2px #025, -2px -2px #025, 2px -2px #025, -2px 2px #025
}
.cr-ch-btn-col {
	line-height: 1;
	color: #048;
	text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000
}
.create-attr-wrap {
	padding: 0 .1rem;
	flex: 0
}
.create-attr-col {
	text-align: center;
	align-items: flex-start
}
#create-attr-remaining {
	justify-content: space-evenly;
	font-family: Roboto Slab, serif;
	line-height: 1
}
#create-points-label {
	font: 1.3rem/1 Georgia, Roboto Slab, serif;
	font-weight: 700;
	text-align: center;
	color: #8bf;
	text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 2px 2px #048, -2px -2px #048, 2px -2px #048, -2px 2px #048
}
.create-attr-type {
	font-family: Georgia, Roboto Slab, serif;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	color: #8bf;
	text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 2px 2px #048, -2px -2px #048, 2px -2px #048, -2px 2px #048
}
#create-points-value {
	align-self: center
}
.create-attr-square {
	position: relative;
	width: 3rem;
	height: 3rem;
	border: .2rem groove #579
}
.create-attr-value {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: .1rem outset #eed;
	height: 100%
}
.create-attr-value.active {
	color: #0f0
}
.create-attr-dynamic {
	background: #048
}
#create-points-remaining {
	background: #bba
}
.title-ch-create-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #013;
	margin: .2rem 0;
	padding: .2rem .1rem;
	border: .1rem ridge #444;
	height: 99%
}
#title-select-character {
	background: rgba(0, 0, 0, 0);
	box-shadow: .1rem 0 #00214d inset, -.1rem 0 #00214d inset
}
#ch-cr-detail-col {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
.title-ch-well {
	border: .1rem ridge #05b;
	background: #025
}
#title-well-top {
	border-radius: 6px 6px 0 0;
	flex: 0;
	box-shadow: 0 .1rem #103860
}
#title-well-bottom {
	border-radius: 0 0 6px 6px;
	flex: 0;
	box-shadow: 0 -.1rem #103860
}
#ch-card-base {
	padding: 0;
	margin: 0;
	flex: 1
}
.title-ch-btn {
	color: #fff;
	margin: .3rem .2rem;
	padding: .2rem 1rem;
	font: 1.1rem/1 Cinzel;
	font-weight: 700;
	outline: 1px solid #579;
	outline-offset: .1rem;
	border: .1rem outset #eed;
	border-radius: 0;
	cursor: pointer;
	letter-spacing: 2px;
	background: #bba
}
.title-ch-btn:active {
	outline: 1px solid #579!important;
	border: .1rem inset #eed;
	background: #998
}
.ch-card {
	background: #27a;
	background: rgba(255, 255, 255, .3);
	border: .1rem outset #013;
	outline: 1px solid #048
}
.ch-card {
	font: 1rem Roboto Slab, serif;
	margin: 6px auto;
	width: 90%;
	display: block;
	border-radius: 0;
	cursor: pointer
}
.ch-card:active {
	background: #048;
	outline: 1px solid #05b
}
.ch-card-active {
	background: #159;
	color: #ff2!important;
	text-shadow: 0 0 2px #000, 0 0 4px #000, 0 0 8px #000, 0 0 12px #000
}
.select-create-wrap {
	border: .2rem groove #579
}
.select-class,
.select-race {
	font-family: Roboto Slab, serif;
	background: #bba;
	border: .1rem outset #eed;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.select-class.active,
.select-race.active {
	background: #776;
	border: .1rem inset #776;
	box-shadow: 0 0 5px #000 inset
}
.select-class.disabled {
	cursor: default;
	pointer-events: none;
	background: #013;
	border: .1rem inset #013;
	box-shadow: 0 0 10px #579 inset;
	color: #048
}
#gender-wrap {
	margin-top: 1rem;
	font: 1.25rem Roboto Slab;
	line-height: 1;
	text-transform: uppercase
}
.select-gender-col {
	align-self: center
}
.select-radial {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background: #bba;
	box-shadow: 1px 1px #579 inset, -1px -1px #579 inset, 1px -1px 2px #000 inset, -3px 3px 6px 2px #fff inset;
	border: .1rem groove #579;
	cursor: pointer
}
.select-radial.active {
	background: #776;
	box-shadow: 1px 1px #000 inset, -1px -1px #000 inset, 0 0 5px #000 inset
}
.character-info-header {
	font: 1rem Roboto Slab, serif;
	text-align: center;
	border: .1rem ridge #05b;
	background: #025;
	text-transform: uppercase
}
#create-info {
	font-size: .75rem;
	padding: 0 .1rem
}
#create-details {
	width: 100%
}
#create-character-name-wrap {
	border: 1px solid #579
}
#create-character-name {
	line-height: 1;
	border: .1rem inset #025;
	border-radius: 0;
	text-transform: capitalize
}
#create-character-name:focus {
	box-shadow: none
}
#create-attr-btn-wrap button {
	margin: .3rem .2rem 0
}
.ng-blue {
	background: #103860;
	border: 1px solid #2e6da4;
	border-radius: 4px
}
.ng-green {
	background: rgba(11, 76, 11, 1);
	border: 1px solid #3a3;
	border-radius: 4px
}
.ng-text {
	color: #aef;
	text-shadow: .5px .5px #357, 1px 1px #357
}
#scene-town {
}
.unlock-game {
	color: #aef!important;
	text-decoration: underline!important
}
#unlock-game-perks {
	margin-bottom: 1rem;
	color: #ff0
}
#unlock-game-card {
	text-align: left
}
#modal-overlay {
	visibility: hidden;
	background: rgba(0, 0, 0, .8);
	background: -webkit-radial-gradient(center center, farthest-corner, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .7) 100%);
	background: -moz-radial-gradient(center center, farthest-corner, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .7) 100%);
	background: -o-radial-gradient(center center, farthest-corner, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .7) 100%);
	background: radial-gradient(center center, farthest-corner, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .7) 100%);
	z-index: 999999
}
#modal-wrap {
	position: absolute;
	visibility: hidden;
	top: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 480px;
	border: .1rem ridge #048;
	background: #013;
	z-index: 999999
}
#modal-header {
	text-align: center;
	border: 2px outset #2e6da4;
	background: #048
}
#modal-body {
	text-align: center;
	padding: .5rem 2rem;
	min-height: 60px
}
#modal-footer {
	padding-bottom: .2rem
}
#modal-error {
	color: #f22
}
.modal-buttons {
	margin: .2rem .4rem
}
#flash-overlay {
	background: '#ffffff';
	z-index: 999999;
	opacity: 0;
	pointer-events: none
}
#lock-overlay {
	display: none;
	background: rgba(0, 0, 0, .5);
	z-index: 999999
}
.overlay,
.scene {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#msg {
	opacity: 0;
	position: fixed;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 80%;
	max-width: 800px;
	padding: 0 8%;
	text-align: center;
	font-size: 1rem;
	line-height: 1.3;
	color: #fff;
	background: rgba(0, 0, 0, .9);
	background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .9) 20%, rgba(0, 0, 0, .9) 80%, rgba(0, 0, 0, 0) 100%);
	background: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .9) 20%, rgba(0, 0, 0, .9) 80%, rgba(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .9) 20%, rgba(0, 0, 0, .9) 80%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .9) 20%, rgba(0, 0, 0, .9) 80%, rgba(0, 0, 0, 0) 100%);
	border-width: 0;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-image: -webkit-linear-gradient(right, rgba(4, 67, 136, 0) 0, rgba(4, 67, 136, .9) 20%, rgba(4, 67, 136, .9) 80%, rgba(4, 67, 136, 0) 100%);
	border-image: -moz-linear-gradient(right, rgba(4, 67, 136, 0) 0, rgba(4, 67, 136, .9) 20%, rgba(4, 67, 136, .9) 80%, rgba(4, 67, 136, 0) 100%);
	border-image: -o-linear-gradient(right, rgba(4, 67, 136, 0) 0, rgba(4, 67, 136, .9) 20%, rgba(4, 67, 136, .9) 80%, rgba(4, 67, 136, 0) 100%);
	border-image: linear-gradient(right, rgba(4, 67, 136, 0) 0, rgba(4, 67, 136, .9) 20%, rgba(4, 67, 136, .9) 80%, rgba(4, 67, 136, 0) 100%);
	border-image-slice: 1;
	z-index: 999999
}
.fancy-hr {
	border: 0;
	height: 1px;
	margin: 12px 0;
	background-image: -webkit-linear-gradient(left, rgba(16, 64, 176, .4), rgba(32, 128, 232, 1), rgba(16, 64, 176, .4));
	background-image: -moz-linear-gradient(left, rgba(16, 64, 176, .4), rgba(32, 128, 232, 1), rgba(16, 64, 176, .4));
	background-image: -o-linear-gradient(left, rgba(16, 64, 176, .4), rgba(32, 128, 232, 1), rgba(16, 64, 176, .4));
	background-image: linear-gradient(left, rgba(16, 64, 176, .4), rgba(32, 128, 232, 1), rgba(16, 64, 176, .4))
}
.fancy-hr-dark {
	border: 0;
	height: 1px;
	margin: 12px 0;
	background-image: -webkit-linear-gradient(left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4));
	background-image: -moz-linear-gradient(left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4));
	background-image: -o-linear-gradient(left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4));
	background-image: linear-gradient(left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4))
}
.stag-blue {
	background: rgba(0, 16, 60, .8);
	background: linear-gradient(top, rgba(0, 24, 60, .8) 0, rgba(0, 24, 60, .8) 10%, rgba(0, 22, 54, .8) 10%, rgba(0, 22, 54, .8) 20%, rgba(0, 20, 48, .8) 20%, rgba(0, 20, 48, .8) 30%, rgba(0, 18, 42, .8) 30%, rgba(0, 18, 42, .8) 40%, rgba(0, 16, 36, .8) 40%, rgba(0, 16, 36, .8) 50%, rgba(0, 14, 30, .8) 50%, rgba(0, 14, 30, .8) 60%, rgba(0, 12, 24, .8) 60%, rgba(0, 12, 24, .8) 70%, rgba(0, 9, 18, .8) 70%, rgba(0, 9, 18, .8) 80%, rgba(0, 6, 12, .8) 80%, rgba(0, 6, 12, .8) 90%, rgba(0, 3, 8, .8) 90%, rgba(0, 3, 8, .8) 100%);
	background: -webkit-linear-gradient(top, rgba(0, 24, 60, .8) 0, rgba(0, 24, 60, .8) 10%, rgba(0, 22, 54, .8) 10%, rgba(0, 22, 54, .8) 20%, rgba(0, 20, 48, .8) 20%, rgba(0, 20, 48, .8) 30%, rgba(0, 18, 42, .8) 30%, rgba(0, 18, 42, .8) 40%, rgba(0, 16, 36, .8) 40%, rgba(0, 16, 36, .8) 50%, rgba(0, 14, 30, .8) 50%, rgba(0, 14, 30, .8) 60%, rgba(0, 12, 24, .8) 60%, rgba(0, 12, 24, .8) 70%, rgba(0, 9, 18, .8) 70%, rgba(0, 9, 18, .8) 80%, rgba(0, 6, 12, .8) 80%, rgba(0, 6, 12, .8) 90%, rgba(0, 3, 8, .8) 90%, rgba(0, 3, 8, .8) 100%);
	background: -moz-linear-gradient(top, rgba(0, 24, 60, .8) 0, rgba(0, 24, 60, .8) 10%, rgba(0, 22, 54, .8) 10%, rgba(0, 22, 54, .8) 20%, rgba(0, 20, 48, .8) 20%, rgba(0, 20, 48, .8) 30%, rgba(0, 18, 42, .8) 30%, rgba(0, 18, 42, .8) 40%, rgba(0, 16, 36, .8) 40%, rgba(0, 16, 36, .8) 50%, rgba(0, 14, 30, .8) 50%, rgba(0, 14, 30, .8) 60%, rgba(0, 12, 24, .8) 60%, rgba(0, 12, 24, .8) 70%, rgba(0, 9, 18, .8) 70%, rgba(0, 9, 18, .8) 80%, rgba(0, 6, 12, .8) 80%, rgba(0, 6, 12, .8) 90%, rgba(0, 3, 8, .8) 90%, rgba(0, 3, 8, .8) 100%);
	background: -ms-linear-gradient(top, rgba(0, 24, 60, .8) 0, rgba(0, 24, 60, .8) 10%, rgba(0, 22, 54, .8) 10%, rgba(0, 22, 54, .8) 20%, rgba(0, 20, 48, .8) 20%, rgba(0, 20, 48, .8) 30%, rgba(0, 18, 42, .8) 30%, rgba(0, 18, 42, .8) 40%, rgba(0, 16, 36, .8) 40%, rgba(0, 16, 36, .8) 50%, rgba(0, 14, 30, .8) 50%, rgba(0, 14, 30, .8) 60%, rgba(0, 12, 24, .8) 60%, rgba(0, 12, 24, .8) 70%, rgba(0, 9, 18, .8) 70%, rgba(0, 9, 18, .8) 80%, rgba(0, 6, 12, .8) 80%, rgba(0, 6, 12, .8) 90%, rgba(0, 3, 8, .8) 90%, rgba(0, 3, 8, .8) 100%);
	background: -o-linear-gradient(top, rgba(0, 24, 60, .8) 0, rgba(0, 24, 60, .8) 10%, rgba(0, 22, 54, .8) 10%, rgba(0, 22, 54, .8) 20%, rgba(0, 20, 48, .8) 20%, rgba(0, 20, 48, .8) 30%, rgba(0, 18, 42, .8) 30%, rgba(0, 18, 42, .8) 40%, rgba(0, 16, 36, .8) 40%, rgba(0, 16, 36, .8) 50%, rgba(0, 14, 30, .8) 50%, rgba(0, 14, 30, .8) 60%, rgba(0, 12, 24, .8) 60%, rgba(0, 12, 24, .8) 70%, rgba(0, 9, 18, .8) 70%, rgba(0, 9, 18, .8) 80%, rgba(0, 6, 12, .8) 80%, rgba(0, 6, 12, .8) 90%, rgba(0, 3, 8, .8) 90%, rgba(0, 3, 8, .8) 100%)
}
/* battle styles */
.mob-wrap {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 0;
	overflow: visible;
}
#mob-wrap-0 { bottom: 180px; left: 10%; z-index: 1}
#mob-wrap-1 { bottom: 180px; left: 30%; z-index: 1 }
#mob-wrap-2 { bottom: 180px; left: 50%; z-index: 1 }
#mob-wrap-3 { bottom: 180px; left: 70%; z-index: 1 }
#mob-wrap-4 { bottom: 180px; left: 90%; z-index: 1 }
#mob-wrap-5 { bottom: 280px; left: 20%}
#mob-wrap-6 { bottom: 280px; left: 40%; }
#mob-wrap-7 { bottom: 280px; left: 60%; }
#mob-wrap-8 { bottom: 280px; left: 80%; }
.mob-details {
	position: absolute;
	left: -100px;
	width: 200px;
	cursor: pointer;
}
.mob-name {
	font: 28px Roboto Condensed;
	text-align: center;
}
.mob-bar {
	position: relative;
	width: 200px;
	height: 20px;
	border: 2px ridge #aaa;
	box-shadow: 0 0 0 1px #111;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.mob-health {
	position: relative;
	height: 100%;
	width: 100%;
	background: #b11;
}
.mob-shadow {
	position: absolute;
	left: -200px;
	bottom: 30px;
	border-radius: 50%;
	background: rgba(0,0,0,.3);
	height: 40px;
	width: 400px;
	z-index: 0;
}
.mob-img {
	position: absolute;
	left: -50%;
	bottom: 0;
	pointer-events: none;
}
.mob-center {
	display: none;
	position: absolute;
	border-radius: 50%;
	border: 4px solid #000;
	background: #f00;
	left: -11px;
	width: 22px;
	height: 22px;
	z-index: 5;
}
.mob-alive {
	position: absolute;
	/*outline: 2px dotted #0f0;*/
	bottom: 0;
	width: 1px;
	height: 1px;
	z-index: 5;
	cursor: pointer;
}
.mob-dead {
	position: absolute;
	/*
	outline: 2px dotted #f00;
	*/
	bottom: 0;
	width: 1px;
	height: 1px;
	z-index: 5;
	cursor: pointer;
	display: none;
}
.test {
	visibility: hidden;
}
/* town stuff */
#town-footer {
	font-family: Cinzel, Palatino Linotype, serif;
	position: absolute;
	font-size: 1.375rem;
	text-align: center;
	top: auto;
	bottom: 0;
	width: 100%;
	background: #025;
	background-image: -webkit-radial-gradient(center center, cover, #013 0%, #000 100%);
	background-image: -moz-radial-gradient(center center, cover, #013 0%, #000 100%);
	background-image: -ms-radial-gradient(center center, cover, #013 0%, #000 100%);
	background-image: -o-radial-gradient(center center, cover, #013 0%, #000 100%);
}
#town-footer-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
#town-mission-counter {
	padding: 0 10px;
	border: 2px ridge #468;
	outline: 1px solid #000;
	box-shadow:
		-1px -1px #05b inset,
		1px 1px #05b inset,
		-1px 1px #05b inset,
		1px -1px #05b inset;
	background: #025;
	background-image: -webkit-radial-gradient(center center, cover, #025 0%, #013 100%);
	background-image: -moz-radial-gradient(center center, cover, #025 0%, #013 100%);
	background-image: -ms-radial-gradient(center center, cover, #025 0%, #013 100%);
	background-image: -o-radial-gradient(center center, cover, #025 0%, #013 100%);
	cursor: pointer;
}
.footer-hr {
	border: 0;
	height: .1rem;
	margin: 0;
	background-image: -webkit-linear-gradient(left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4));
	background-image: -moz-linear-gradient(left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4));
	background-image: -o-linear-gradient(left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4));
	background-image: linear-gradient(left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4))
}
#town-footer-hr1 {
	margin-bottom: .2rem;
}
#town-footer-hr2 {
	margin-top: .2rem;
}
/* chat styles */
#chat-wrap {
	display: none;
	flex-direction: row;
	font-family: Roboto Condensed, Roboto, sans-serif;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1rem;
	border: 2px ridge #222;
	background: rgba(0,0,0,.8);
	height: 25rem;
	z-index: 2;
}
#chat-present-wrap {
	display: flex;
	flex-direction: column;
	width: 10rem;
}
#chat-header {
	text-align: center;
	color: gold;
	border: 2px ridge #048;
	background: -webkit-radial-gradient(top center,farthest-side,rgba(0,48,96,1) 0,rgba(0,0,0,1) 100%);
	background: -moz-radial-gradient(top center, farthest-side,rgba(0,48,96,1) 0,rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(top center, farthest-side,rgba(0,48,96,1) 0,rgba(0,0,0,1) 100%);
	background: radial-gradient(top center, farthest-side,rgba(0,48,96,1) 0,rgba(0,0,0,1) 100%);
}
#chat-room {
	flex: 1;
	line-height: 1.2;
	overflow: auto;
	overflow-x: hidden;
}
#chat-log-wrap {
	display: flex;
	flex-direction: column;
	border-left: 2px ridge #222;
	width: 30rem;
}
#chat-log {
	flex: 1;
	overflow: auto;
	overflow-x: hidden;
	line-height: 1.2;
	color: #f2f2f2;
	word-break: break-word;
	padding: .1rem 0 0 .2rem;
	margin-bottom: .1rem;
	border-bottom: 2px ridge #222;
}
.chat-room-player {
	cursor: pointer;
}
.chat-room-player:hover {
	background: #025;
}
#chat-log div {
	text-shadow: 1px 1px #000;
}
#chat-input {
	flex: 0;
	font-size: 1rem;
	color: #fff;
	background: transparent;
	border: 2px ridge #444;
	cursor: pointer;
	padding: .2rem .4rem;
	margin: .1rem .2rem;
	box-shadow: 0 0 5px 1px rgba(0, 64, 128, .3) inset;
}
#chat-input:focus {
	border: 2px ridge #555;
	box-shadow:
		0 0 3px #fff  rgba(255, 255, 255, .5),
		0 0 5px 1px rgba(0, 64, 128, .6) inset;
	background: rgba(12,12,12,.3);
}

.chat-white {
	color: #fff;
}
.chat-emote {
	color: #aaa;
}
.chat-whisper {
	color: #c8f;
}
.chat-party {
	color: #8ef;
}
.chat-shout {
	color: #dd1a1a;
}
.chat-ooc {
	color: #090;
}
.chat-guild {
	color: #0f0;
}
.chat-warning {
	color: #ffff1a;
}
.chat-broadcast {
	text-transform: uppercase;
	font-weight: bold;
	color: #f80;
}
.chat-exp {
	color: gold;
}
.chat-join {
	cursor: pointer
}
.chat-hidden {
	color: #000;
	background: #000;
	pointer-events: auto
}
.chat-hidden:hover {
	color: #fff;
	pointer-events: auto
}
/* chat class colors */

.chat-WAR {
	color:#a73;
}
.chat-ROG {
	color:#888;
}
.chat-MNK {
	color:#f85;
}
.chat-PLD {
	color:#c5e;
}
.chat-SHD {
	color:#f0f;
}
.chat-RNG {
	color:#090;
}
.chat-BRD {
	color:#7ff;
}
.chat-DRU {
	color:#8f0;
}
.chat-CLR {
	color:#ff5;
}
.chat-SHM {
	color:#08f;
}
.chat-NEC {
	color:#84f;
}
.chat-ENC {
	color:#0df;
}
.chat-MAG {
	color:#f90;
}
.chat-WIZ {
	color:#f22;
}
.Warrior{
	background:#3a220a;
	background:url('/classic/images1/classPlate.png') 0 0;
	text-shadow:inherit;
}
.Rogue{
	background:#3d353d;
	background:url('/classic/images1/classPlate.png') 0 -100%;
	text-shadow:inherit;
}
.Monk{
	background:#44441a;
	background:url('/classic/images1/classPlate.png') 0 -200%;
	text-shadow:inherit;
}
.Paladin{
	background:#620582;
	background:url('/classic/images1/classPlate.png') 0 -300%;
	text-shadow:inherit;
}
.ShadowKnight{
	background:#48043a;
	background:url('/classic/images1/classPlate.png') 0 -400%;
	text-shadow:inherit;
}
.Ranger{
	background:#0a2b00;
	background:url('/classic/images1/classPlate.png') 0 -500%;
	text-shadow:inherit;
}
.Bard{
	background:#1a006a;
	background:url('/classic/images1/classPlate.png') 0 -600%;
	text-shadow:inherit;
}
.Druid{
	background:#1a5b0a;
	background:url('/classic/images1/classPlate.png') 0 -700%;
	text-shadow:inherit;
}
.Cleric{
	background:#77770a;
	background:url('/classic/images1/classPlate.png') 0 -800%;
	text-shadow:inherit;
}
.Shaman{
	background:#001a7a;
	background:url('/classic/images1/classPlate.png') 0 -900%;
	text-shadow:inherit;
}
.Necromancer{
	background:#482a5a;
	background:url('/classic/images1/classPlate.png') 0 -1000%;
	text-shadow:inherit;
}
.Enchanter{
	background:#123a6a;
	background:url('/classic/images1/classPlate.png') 0 -1100%;
	text-shadow:inherit;
}
.Magician{
	background:#7a4a12;
	background:url('/classic/images1/classPlate.png') 0 -1200%;
	text-shadow:inherit;
}
.Wizard{
	background:#5a0111;
	background:url('/classic/images1/classPlate.png') 0 -1300%;
	text-shadow:inherit;
}
/* webkit scrollbar */
::-webkit-scrollbar {
	/* addresses the background of the bar itself. It is usually covered by the other elements */
	width: .5rem;
}
::-webkit-scrollbar-button {
	/* addresses the directional buttons on the scrollbar */
}
::-webkit-scrollbar-track {
	/* background */
	background: #333;
	background-image: -webkit-linear-gradient(left, #013 0%, #103860 100%);
	box-shadow: inset 0 0 0 1px #444;
}
::-webkit-scrollbar-track-piece {
	/*
		is the top-most layer of the the progress bar not covered
		by the draggable scrolling element (thumb)
	*/
}
::-webkit-scrollbar-thumb {
	/* draggable thing */
	background-color: #248;
	/*background-image: -webkit-linear-gradient(top, #579 0%, #bdf 50%, #579 100%);*/
	outline: 1px solid #0f0;
	border-radius: 22%;
}
#scene-error {
	padding: 30vh 10vw 0;
	color: gold;
	text-align: center;
	font: 3rem Cinzel;
	text-shadow:
		.6px .6px #000,
		-.4px .6px #000,
		-.4px 0 #000,
		.6px 0 #000,
		0 .6px #000,
		0 -.6px #000,
		0px 0px 5px #000,
		0px 0px 2px #000,
		1px 1px 2px #fff,
		0 0 2px #fd0,
		0 0 5px #fd0;
	background: #111;
	background: -webkit-radial-gradient(center center, farthest-corner, rgba(16, 16, 16, 1) 0, rgba(0, 0, 0, 1) 100%);
	background: -moz-radial-gradient(center center, farthest-corner, rgba(16, 16, 16, 1) 0, rgba(0, 0, 0, 1) 100%);
	background: -o-radial-gradient(center center, farthest-corner, rgba(16, 16, 16, 1) 0, rgba(0, 0, 0, 1) 100%);
	background: radial-gradient(center center, farthest-corner, rgba(16, 16, 16, 1) 0, rgba(0, 0, 0, 1) 100%);
}
/* bar wrap */
#bar-wrap {
	display: none;
	position: absolute;
	top: .2rem;
	left: .2rem;
	z-index: 1;
}
.bar-player-wrap {
	display: flex;
	margin-bottom: .2rem;
}
.bar-col-icon {
	background: url('../img2/job-icons.png');
	background-size: 1400% 100%;
	width: 3.25rem;
	height: 3.25rem;
}
.bar-col-data {
	flex: 1;
	width: 7rem;
}
.bar-hp-name {
	text-transform: capitalize;
	text-indent: .2rem;
	color: #fff;
	font: 1rem Roboto Slab, sans-serif;
	line-height: 1.2;
}
.bar-hp-wrap,
.bar-mp-wrap {
	position: relative;
	border: 1px solid #000;
	background: #777;
	margin: .1rem .2rem;
	height: .5rem;
	border-radius: 10px;
	overflow: hidden;
}
.bar-hp-fg {
	position: absolute;
	background: #f22;
	height: 100%;
	width: 50%;
	z-index: 1;
}
.bar-hp-bg {
	position: absolute;
	background: #ff0;
	height: 100%;
	width: 100%;
	z-index: 0;
}
.bar-mp-fg {
	background: #05b;
	height: 100%;
	width: 75%;
}
.player-icon-WAR { background-position: 0; }
.player-icon-ROG { background-position: -100%; }
.player-icon-MNK { background-position: -200%; }
.player-icon-PAL { background-position: -300%; }
.player-icon-SHD { background-position: -400%; }
.player-icon-RNG { background-position: 900%; }
.player-icon-BRD { background-position: 800%; }
.player-icon-DRU { background-position: 700%; }
.player-icon-CLR { background-position: 600%; }
.player-icon-SHM { background-position: 500%; }
.player-icon-NEC { background-position: 400%; }
.player-icon-ENC { background-position: 300%; }
.player-icon-MAG { background-position: 200%; }
.player-icon-WIZ { background-position: 100%; }










/* show game */
body {
	visibility: visible;
}