/* ng2.css */
@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-Regular.otf)
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}
@font-face {
    font-family: Roboto Condensed;
    src: url(../fonts/RobotoCondensed-Regular.ttf)
}
@font-face {
    font-family: Roboto Slab;
    src: url(../fonts/RobotoSlab-Regular.ttf)
}
/* html5 overrides */
* {
    _noFocusLine: expression(this.hideFocus=true);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px transparent
}
::-moz-focus-inner {
    border: 0
}
:focus {
    outline: none
}
html {
    font-family: Roboto, Verdana, Arial, sans-serif;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    display: block;
    background: #000;
    overflow: hidden
}
input {
    cursor: text;
    background: #059
}
body {
    font-family: Roboto, Verdana, Arial, sans-serif;
    position: absolute;
    background: #000;
    width: 100%;
	color: #fff;
	max-width: 1920px;
	min-width: 768px;
    height: 100%;
    overflow: hidden
}
a {
    color: #8bf;
	cursor: pointer;
}
h1,
h2 {
    color: #fff;
    margin: 0;
    padding: 0
}
h1 {
    font-family: Cinzel, Palatino Linotype, serif;
	text-align: center;
	margin-bottom: 12px;
}
h1 div {
    font-size: 1.375rem;
}
h1 div.small {
    font-size: 1rem;
}
audio {
	display: none;
}
tbody {
    border: 0
}
.header {
    font-family: Cinzel, Palatino Linotype, serif;
    letter-spacing: .2em;
    color: #aef;
    background: -webkit-radial-gradient(center center, farthest-side, rgba(32, 64, 124, .5) 0%, rgba(0, 0, 0, .1) 100%);
    background: -moz-radial-gradient(center center, farthest-side, rgba(32, 64, 124, .5) 0%, rgba(0, 0, 0, .1) 100%);
    background: -ms-radial-gradient(center center, farthest-side, rgba(32, 64, 124, .5) 0%, rgba(0, 0, 0, .1) 100%);
    background: -o-radial-gradient(center center, farthest-side, rgba(32, 64, 124, .5) 0%, rgba(0, 0, 0, .1) 100%)
}
/* fa overrides */
/* bootstrap overrides */
.btn:active,
.btn:focus {
    outline: none
}
.btn-info {
    background: #081;
    border-color: #051
}
.btn.btn-info:hover,
.btn.btn-info:active,
.btn.btn-info:focus {
    outline: none;
    background: #00660a;
    border-color: #00440a
}
.btn-default {
    color: #fff;
    background: #555;
    border-color: #222
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus {
    outline: none;
    color: #fff;
    background: #333;
    border-color: #111
}
.tooltip.in {
    opacity: 1!important
}
.tooltip-inner {
    color: #aef;
    text-shadow: 1px 1px #000;
    border: 2px ridge #357;
    background: rgba(16, 56, 96, 1)
}
/* helper classes */
.abs {
	position: absolute;
}
.neverworks {
	display: block;
	margin: 3px auto
}
.text-shadow {
    text-shadow: 
		1px 1px #000, 
		-1px 0 #000, 
		1px 0 #000, 
		-1px 1px #000, 
		1px -1px #000, 
		-1px -1px #000
}
.no-select {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}
.none {
    display: none
}
.block {
    display: block
}
.center {
    position: relative;
    margin: 0 auto
}
.w33 {
    width: 33%
}
.w66 {
    width: 66%
}
.w100 {
    width: 100%
}
.ellipsis {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.no-padding {
    padding: 0!important
}
.no-margin {
    margin: 0!important
}
.snug {
    padding: 0!important;
    margin: 0!important
}
.pointer {
    cursor: pointer
}
.no-pointer {
    pointer-events: none
}
.text {
    cursor: text!important
}
/* responsive rules */
@media all and (min-width: 1024px) {
    body {
        font-size: 1.5rem
    }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 1.25rem
    }
}
@media all (max-width: 767px) {
    body {
        font-size: 1rem
    }
}
/* ng2 */
#ng2-logo-wrap {
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden
}
#ng2-bg {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0;
    top: 0
}
#ng2-logo {
	position: relative;
    width: 80%;
	display: block;
	margin: 4px auto;
}
/* title */
#title-menu {
    background: #00214d;
    color: #fff;
    border-radius: 0 0 5px 5px;
	border: 2px ridge #05b;
	border-top: none;
}
#title-container-wrap {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	min-width: 768px;
}
#title-header{
    padding: 2px 8px 4px ;
	font-size: 1.5rem;
	border-bottom: 2px ridge #000;
	background: #111;
}
#title-container {
	position: relative;
}
#title-header .fa {
    margin: 0 4px;
}
#logout {
	position: relative;
	top: -2px;
	color: #fff;
}

#hud {
    position: absolute;
    top: 120px;
    left: 0%;
    width: 100%;
    text-align: center;
    font-size: 1.75rem;
    color: #bef;
    z-index: 999999;
    pointer-events: none;
    visibility: hidden
}
.ng-blue {
    background: rgba(16, 56, 96, 1);
    color: #aef!important;
    cursor: pointer;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    text-shadow: 1px 1px #000, -1px 0 #000, 1px 0 #000, -1px 1px #000, 1px -1px #000, -1px -1px #000!important
}
.ng-blue:hover {
    background: rgba(26, 66, 106, 1)
}
.ng-blue:active {
    background: rgba(6, 46, 86, 1)
}
.ng-green {
    background: rgba(11, 76, 11, 1);
    color: #afa!important;
    cursor: pointer;
    border: 1px solid #3a3;
    border-radius: 4px;
    text-shadow: 1px 1px #000, -1px 0 #000, 1px 0 #000, -1px 1px #000, 1px -1px #000, -1px -1px #000!important
}
.ng-green:hover {
    background: rgba(26, 86, 26, 1)
}
.ng-green:active {
    background: rgba(1, 66, 1, 1)
}
.ng-text {
    color: #bef;
    text-shadow: .5px .5px #357, 1px 1px #357
}
.modals {
    visibility: hidden;
    position: absolute;
	top: 0;
    padding: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 640px;
    z-index: 999999
}
.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%
}
#game-wrap {
    visibility: hidden;
    background: #000a3a
}
#overlay {
    display: none;
    background: rgba(0, 0, 0, .5);
    z-index: 999999;
    cursor: wait
}
#screen-flash {
    background: '#ffffff';
    z-index: 4999;
    opacity: 0;
    pointer-events: none
}
#msg {
    opacity: 0;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    max-width: 768px;
    padding: 0 8%;
    text-align: center;
    font-size: 1.125rem;
    color: #fff;
    background: rgba(0, 0, 0, .9);
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 20%, rgba(0, 0, 0, .9) 80%, rgba(0, 0, 0, 0) 100%);
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 20%, rgba(0, 0, 0, .9) 80%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 20%, rgba(0, 0, 0, .9) 80%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 20%, rgba(0, 0, 0, .9) 80%, rgba(0, 0, 0, 0) 100%);
    border-width: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-image: -webkit-linear-gradient(right, rgba(4, 67, 136, 0) 0%, rgba(4, 67, 136, .9) 20%, rgba(4, 67, 136, .9) 80%, rgba(4, 67, 136, 0) 100%);
    border-image: -moz-linear-gradient(right, rgba(4, 67, 136, 0) 0%, rgba(4, 67, 136, .9) 20%, rgba(4, 67, 136, .9) 80%, rgba(4, 67, 136, 0) 100%);
    border-image: -o-linear-gradient(right, rgba(4, 67, 136, 0) 0%, rgba(4, 67, 136, .9) 20%, rgba(4, 67, 136, .9) 80%, rgba(4, 67, 136, 0) 100%);
    border-image: linear-gradient(right, rgba(4, 67, 136, 0) 0%, rgba(4, 67, 136, .9) 20%, rgba(4, 67, 136, .9) 80%, rgba(4, 67, 136, 0) 100%);
    border-image-slice: 1;
    z-index: 999999;
    pointer-events: none
}
#title-backdrop {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    background: -webkit-radial-gradient(center center, farthest-corner, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .7) 100%);
    background: -moz-radial-gradient(center center, farthest-corner, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .7) 100%);
    background: -o-radial-gradient(center center, farthest-corner, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .7) 100%);
    background: radial-gradient(center center, farthest-corner, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .7) 100%);
    z-index: 999999
}
.fancy-hr {
    border: 0;
    height: 1px;
    margin: 12px 0;
    background-image: -webkit-linear-gradient(left, rgba(16, 64, 176, .4), rgba(32, 128, 232, 1), rgba(16, 64, 176, .4));
    background-image: -moz-linear-gradient(left, rgba(16, 64, 176, .4), rgba(32, 128, 232, 1), rgba(16, 64, 176, .4));
    background-image: -o-linear-gradient(left, rgba(16, 64, 176, .4), rgba(32, 128, 232, 1), rgba(16, 64, 176, .4));
    background-image: linear-gradient(left, rgba(16, 64, 176, .4), rgba(32, 128, 232, 1), rgba(16, 64, 176, .4));
}
.fancy-hr-dark {
    border: 0;
    height: 1px;
    margin: 12px 0;
    background-image: -webkit-linear-gradient(left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4));
    background-image: -moz-linear-gradient(left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4));
    background-image: -o-linear-gradient(left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4));
    background-image: linear-gradient(left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4));
}
.shadow4 {
    text-shadow: 1px 1px #000, -1px 0 #000, 1px 0 #000, -1px 1px #000, 1px -1px #000, -1px -1px #000
}
.stag-blue {
    border: 1px solid rgba(176, 240, 255, 1);
    border-radius: 4px;
    background: rgba(0, 16, 60, 1);
    background: linear-gradient(top, rgba(0, 24, 100, 1) 0%, rgba(0, 24, 100, 1) 10%, rgba(0, 22, 90, 1) 10%, rgba(0, 22, 90, 1) 20%, rgba(0, 20, 80, 1) 20%, rgba(0, 20, 80, 1) 30%, rgba(0, 18, 70, 1) 30%, rgba(0, 18, 70, 1) 40%, rgba(0, 16, 60, 1) 40%, rgba(0, 16, 60, 1) 50%, rgba(0, 14, 50, 1) 50%, rgba(0, 14, 50, 1) 60%, rgba(0, 12, 40, 1) 60%, rgba(0, 12, 40, 1) 70%, rgba(0, 10, 30, 1) 70%, rgba(0, 10, 30, 1) 80%, rgba(0, 8, 20, 1) 80%, rgba(0, 8, 20, 1) 90%, rgba(0, 6, 10, 1) 90%, rgba(0, 6, 10, 1) 100%);
}